<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISingleService">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/SingleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISingleService" contract="SingleService.ISingleService"
                name="NetTcpBinding_ISingleService">
                <identity>
                    <userPrincipalName value="LAPTOP-P286EDHB\joaki" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>